  <header class="header">
    <div class="container">
        <div class="logo">
            <a href="" routerLink="/">FutureTech</a>
        </div>
        <div class="search-bar">
            <div class="input-container">
                <input type="text" class="input-text" placeholder="Search products...">
                <div class="input-icon">
                    <i class="bi bi-search"></i>
                </div>
            </div>
        </div>
        <div class="header-right">
            <div class="cart-icon">
                <a href="" routerLink="/cart"><i class="bi bi-cart"></i></a>
            </div>
            <div class="sign-in">
                <a href="" routerLink="/login"><button class="btn btn-primary">Sign In</button></a>
            </div>
        </div>
    </div>
  </header>
