<div class="container mt-5 mb-5">
  <h2>Update Product</h2>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <div class="form-group">
      <label for="productTitle">Product Title</label>
      <input
        type="text"
        formControlName="title"
        class="form-control"
        id="productTitle"
        placeholder="Enter Product Title"
      />
      <div class="error" *ngIf="productForm.get('title')?.hasError('required')">
        This input is required!
      </div>
    </div>

    <div class="form-group">
      <label for="productPrice">Price</label>
      <input
        type="number"
        formControlName="price"
        class="form-control"
        id="productPrice"
        placeholder="Enter Price"
      />
      <div class="error" *ngIf="productForm.get('price')?.hasError('required')">
        This input is required!
      </div>
    </div>

    <div class="form-group">
      <label for="productDescription">Description</label>
      <textarea
        class="form-control"
        formControlName="description"
        id="productDescription"
        rows="3"
        placeholder="Enter Product Description"
      ></textarea>
      <div class="error" *ngIf="productForm.get('description')?.hasError('required')">
        This input is required!
      </div>
    </div>

    <div class="form-group">
      <label for="productCategory">Select a Category</label>
      <select formControlName="categoryId" class="form-control" id="productCategory">
        <option *ngFor="let category of listOfCategory" [value]="category.id">
          {{ category.category }}
        </option>
      </select>
      <div class="error" *ngIf="productForm.get('categoryId')?.hasError('required')">
        This input is required!
      </div>
    </div>

    <div class="file-upload-container">
      <label class="file-upload-label">
        <span>Select a file</span>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
        <div class="icon"><i class="bi bi-paperclip"></i></div>
      </label>
      <div class="form-group" *ngIf="selectedFile">
        <div class="circle-image">
          <img [src]="imagePreview" alt="selected Image" class="preview-image" />
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Update</button>
  </form>
</div>
