.my-2 {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}
.custom-select {
  appearance: none;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0056b3;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 50px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-select:focus {
  outline: none;
  border-color: #003d80;
}

.custom-select option {
  background-color: #ffffff;
  color: #000000;
}


.product-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.product-title, .product-description, .product-footer {
  margin-top: 12px;
  margin-bottom: 12px;
}

.product-title {
  font-size: 16px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-description {
  font-size: 12px;
  color: #666;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #0056b3;
}

.product-price {
  font-size: 16px;
  color: #007bff;
  font-weight: bold;
}
