<div class="container">
  <h2>Add Category</h2>
  <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
    <div class="form-group">
      <label for="categoryName">Category Name:</label>
      <input
        type="text"
        id="categoryName"
        name="categoryName"
        required
        formControlName="name"
        placeholder="Enter category name"
      />
      <div class="error" *ngIf="categoryForm.get('name')?.hasError('required')">
        This input is required!
      </div>
    </div>
    <button type="submit" class="submit-button">Add Category</button>
  </form>
</div>
